body {
  background: rgb(25, 70, 139);
  background: linear-gradient(
    45deg,
    rgba(25, 70, 139, 1) 0%,
    rgba(17, 110, 164, 1) 25%,
    rgba(17, 114, 164, 1) 27%,
    rgb(39, 146, 116) 97%
  );
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
}
a {
  color: inherit;
}

.prices-container {
  display: inline-block;
  margin: 1em;
  background-color: rgba(60, 156, 201, 0.4);
  box-shadow: 5px 5px 15px 5px #000000;
}
